<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXTREMUM FINDER</title>
    <link rel="stylesheet" href="static/base.css">
    <script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    {% block HeadLinkCss %}
    {% endblock %}
</head>

<body>
    <nav>
        {% block navbar %}
        {% endblock %}
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>