{% extends 'base.html' %}

{% block HeadLinkCss %}
<link rel="stylesheet" href="static/home.css">
{% endblock %}

{% block navbar %}
<div class="navbar-container">
    <a href="/" class="logo"><pre>E X T R E M U M  F I N D E R</pre></a>
</div>
{% endblock %}

{% block main %}
<div class="main-container">
    <a href="/one-dimensional-optimization" class="btn first">Одномерная оптимизация</a>
    <a href="/multidimensional-optimization" class="btn second">Многомерная оптимизация</a>
    <a href="/multidimensional-optimization-second" class="btn third">Многомерная оптимизация второго порядка</a>
    <a href="/" class="btn forth">To be continued...</a>
</div>
{% endblock %}